# PostgresSQL Connection
DATABASE_URL="postgres://kua_user:kua_password@postgres:5432/kua_db"

# PostgresSQL Configuration (for docker-compose)
POSTGRES_USER=kua_user
POSTGRES_PASSWORD=kua_password
POSTGRES_DB=kua_db

# Telegram Bot (optional)
TELEGRAM_BOT_TOKEN="7890123456:AAFx_DummyTelegramBotTokenForKUA"

# App
PORT=7000
NODE_ENV=production
